.active{
    background-color: hsl(25, 97%, 53%);
}

button{
    width: 100%;
    margin-top: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    width: 90%;
    height: 6vh;
    border-radius: 50px;
    border: transparent;
    background-color: hsl(25, 97%, 53%);
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: .2s all ease-in-out;
}
button:hover{
    background-color: white;
    color: hsl(25, 97%, 53%);
}
